<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.liang.siruanbei">

    <application
        tools:replace="android:icon"
        android:name=".BmobApplication"
        android:allowBackup="true"
        android:icon="@mipmap/tubiao"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:theme="@style/AppTheme">
        <activity android:name=".qidongye.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".qidongye.GuideActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DragTopActivity"/>
        <activity android:name=".Zuijinjilu"/>
        <activity android:name=".activity.kebiaobianji"/>
        <activity android:name=".Gerenshoucang"/>
        <activity android:name=".activity.itemactivity" />
        <activity android:name=".activity.item"/>
        <activity android:name=".activity.xiangqing"/>
        <activity android:name=".PullToRefreshActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".Guanyuwomen"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--推送权限-->
    <!--允许读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许接收屏幕解锁广播 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!--允许接收开机广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 其他权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>